@import url("../css/normalize.css");
@font-face {
    font-family: "Impact";
    font-style: normal;
    font-weight: 400;
    src: local("Impact"),
         url("../fonts/impact.woff2") format("woff2"),
         url("/fonts/impact.woff") format("woff");
  }
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.category {
    position: relative;
}
.category-img-wrap{
    position: relative;
    max-width: 1640px;
    margin: auto;
    padding: 153px 0 152px 0;    
}
.container {
    max-width: 1640px;
    padding: 0 20px;
    margin: auto;
}
.category-circle {
    position: absolute;
    right: 0;
}
.category-decor {
    position: absolute;
    bottom: 0;
    left: 0;
}
.decor {
    position: absolute;
    top: 0;
    right: 420px;
}
.category-leaf {
    position: absolute;
    bottom: 90px;
    right: 430px;
    transition-property: padding-bottom, padding-right;
    transition-duration: 0.8s;
}
.green-leaf {
    position: absolute;
    left: -160px;
    top: 80px;
    transition-property: padding-left, padding-top;
    transition-duration: 0.5s;
    padding-top: 1px;
}
.category-title{
    font-family: "Impact";
    font-size: 40px;
    line-height: 49px;
    color: #201714;
    margin-bottom: 80px;
}
.category-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}
.card {
    position: relative;
    background: rgba(255, 255, 255, 0.3);
    border: 2px solid #79C800;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(8px);
    border-radius: 16px;
    height: 188px;
    width: 376px;
    cursor: pointer;
    transition-property: background;
    transition-duration: 1.2s;
    overflow: hidden;
}
.pest {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    opacity: 1;
    transition-property: opacity;
transition-duration: 1s;
}
.pest-open {
z-index: 2;
opacity: 0;
transition-property: opacity;
transition-duration: 1s;
}
.card:hover{
    background: rgba(121, 200, 0, 0.4);
}
.card:hover .pest {
opacity: 0;
}
.card:hover .pest-open {
    opacity: 1;
}
.card:hover .card-circle{
    display: block;
    animation: one 4s linear infinite;
}
.card:hover .card-circle-middle{
    display: block;
    animation: two 6s linear infinite;
}
.card:hover .card-circle-big{
    display: block;
    animation: three 6s linear infinite;
}
.card:hover .card-circle-small{
    display: block;
    animation: four 4s linear infinite;
}
@keyframes moveCircle {
    0%{
        scale: 1;
        left: calc(var(--main-x-position) + 10px);
        top: calc(var(--main-y-position) + 10px);
    }
    10%{
        scale: 1.1;
        left: calc(var(--main-x-position) + 20px);
        top: calc(var(--main-y-position) + 20px);
    }
    20%{
        scale: 1.2;
        left: calc(var(--main-x-position) + 30px);
        top: calc(var(--main-y-position) + 30px);
    }
    30%{
        scale: 1.3;
        left: calc(var(--main-x-position) + 40px);
        top: calc(var(--main-y-position) + 40px);
    }
    40%{
        scale: 1.4;
        left: calc(var(--main-x-position) + 50px);
        top: calc(var(--main-y-position) + 50px);
    }
    50%{
        scale: 1.5;
        left: calc(var(--main-x-position) + 60px);
        top: calc(var(--main-y-position) + 60px);
    }
    60%{
        scale: 1.4;
        left: calc(var(--main-x-position) + 50px);
        top: calc(var(--main-y-position) + 50px);
    }
    70%{
        scale: 1.3;
        left: calc(var(--main-x-position) + 40px);
        top: calc(var(--main-y-position) + 40px);
    }
    80%{
        scale: 1.2;
        left: calc(var(--main-x-position) + 30px);
        top: calc(var(--main-y-position) + 30px);
    }
    90%{
        scale: 1.1;
        left: calc(var(--main-x-position) + 20px);
        top: calc(var(--main-y-position) + 20px);
    }
    100%{
        scale: 1;
        left: calc(var(--main-x-position) + 10px);
        top: calc(var(--main-y-position) + 10px);
    }
} 
@keyframes minusMoveCircle {
    0%{
        scale: 1;
        left: calc(var(--main-x-position) - 10px);
        top: calc(var(--main-y-position) - 10px);
    }
    10%{
        scale: 0.9;
        left: calc(var(--main-x-position) - 20px);
        top: calc(var(--main-y-position) - 20px);
    }
    20%{
        scale: 0.8;
        left: calc(var(--main-x-position) - 30px);
        top: calc(var(--main-y-position) - 30px);
    }
    30%{
        scale: 0.7;
        left: calc(var(--main-x-position) - 40px);
        top: calc(var(--main-y-position) - 40px);
    }
    40%{
        scale: 0.6;
        left: calc(var(--main-x-position) - 50px);
        top: calc(var(--main-y-position) - 50px);
    }
    50%{
        scale: 0.7;
        left: calc(var(--main-x-position) - 60px);
        top: calc(var(--main-y-position) - 60px);
    }
    60%{
        scale: 0.8;
        left: calc(var(--main-x-position) - 50px);
        top: calc(var(--main-y-position) - 50px);
    }
    70%{
        scale: 0.9;
        left: calc(var(--main-x-position) - 40px);
        top: calc(var(--main-y-position) - 40px);
    }
    80%{
        scale: 1;
        left: calc(var(--main-x-position) - 30px);
        top: calc(var(--main-y-position) - 30px);
    }
    90%{
        scale: 1;
        left: calc(var(--main-x-position) - 20px);
        top: calc(var(--main-y-position) - 20px);
    }
    100%{
        scale: 1;
        left: calc(var(--main-x-position) - 10px);
        top: calc(var(--main-y-position) - 10px);
    }
}
@keyframes one {
        0% {
        scale: 1;
        left: calc(var(--main-x-position) + 1px);
        top: calc(var(--main-y-position) + 1px);
        }
        50%{
        scale: 2;
        left: calc(var(--main-x-position) + 260px);
        top: calc(var(--main-y-position) + 60px);
        }
        100% {
            scale: 1;
            left: calc(var(--main-x-position) + 1px);
            top: calc(var(--main-y-position) + 1px);
        }
}
@keyframes two {
    0% {
    scale: 1;
    left: calc(var(--main-x-position) - 1px);
    top: calc(var(--main-y-position) - 1px);
    }
    50%{
    scale: 2;
    left: calc(var(--main-x-position) - 260px);
    top: calc(var(--main-y-position) - 60px);
    }
    100% {
        scale: 1;
        left: calc(var(--main-x-position) - 1px);
        top: calc(var(--main-y-position) - 1px);
    }
}
@keyframes three {
    0% {
    scale: 1;
    left: calc(var(--main-x-position) + 10px);
    top: calc(var(--main-y-position) + 10px);
    }
    50%{
    scale: 0.1;
    left: calc(var(--main-x-position) + 260px);
    top: calc(var(--main-y-position) + 60px);
    }
    100% {
        scale: 1;
        left: calc(var(--main-x-position) + 10px);
        top: calc(var(--main-y-position) + 10px);
    }
}
@keyframes four {
    0% {
    scale: 1;
    left: calc(var(--main-x-position) + 10px);
    top: calc(var(--main-y-position) + 10px);
    }
    50%{
    scale: 1.5;
    left: calc(var(--main-x-position) + 260px);
    top: calc(var(--main-y-position) + 60px);
    }
    100% {
        scale: 1;
        left: calc(var(--main-x-position) + 10px);
        top: calc(var(--main-y-position) + 10px);
    }
} 
.card-circle{
    --main-x-position: 1px;
    --main-y-position: 1px;
    position: absolute;
    display: none;
    top: var(--main-y-position);
    left: var(--main-x-position);
}
.card-circle-big{
    --main-x-position: 60px;
}
.card-circle-middle{
    --main-x-position: 100px;    
}
.card-circle-small{
    --main-x-position: 160px; 
}
.card-title{
    font-family: 'Raleway', sans-serif;
    position: absolute;
    bottom: 16px;
    left: 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1px;
    color: #201714;
    transition-property: font-size, line-height;
    transition-duration: 0.5s;
}
.card-title-substances{
    max-width: 190px;
}
.card:hover .card-title{
    font-size: 28px;
    line-height: 33px;
}
.card:hover .card-title-substances{
    font-size: 28px;
    line-height: 85%;
}
.green-leaf-ani{
    padding-left: 10px;
    padding-top: 10px;
}
.bord-leaf-ani{
    padding-right: 10px;
    padding-bottom: 10px;
}

@media(max-width: 1640px) and (min-width: 1200px) {
    .container{
        max-width: 1200px;
    }
    .category-cards{
        gap: 20px;
    }
    .card{
        width: 275px;
    }
    .pest{
        width: 190px;
    }
    .card-title{
        font-size: 22px;
    }
    .card:hover .card-title{
        font-size: 24px;
    }
    .category-img-wrap{
        max-width: 1200px;
    }
    .green-leaf{
        left: -70px;
        top: 70px;
        width: 150px;
    }
    .category-leaf{
        bottom: 100px;
        right: 320px;
        width: 90px;
    }
}
@media(max-width: 1199px){
    .category-cards {
        justify-content: center;
    }
    .category-title{
        text-align: center;
        margin-bottom: 50px;
    }
    .category-img-wrap{
        padding: 70px 0;
        max-width: 860px;
    }
    .category-circle {
        width: 200px;
        right: 0;
        bottom: 20%;
    }
    .decor {
        position: absolute;
        top: 0;
        right: 0;
    }
    .green-leaf{
        left: 0;
        top: 50px;
        width: 150px;
    }
    .category-leaf{
        bottom: 10px;
        right: 30px;
    }
}
@media(max-width: 823px){
    .category-img-wrap {
        padding: 60px 0;
        max-width: 460px;
    }
    .category-title {
        text-align: center;
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 30px;
    }
    .green-leaf {
        left: 20px;
        top: 55px;
        width: 100px;
    }
    .decor {
        position: absolute;
        top: 10px;
        right: 27px;
        width: 90px;
    }
    .category-circle {
        width: auto;
    }
    .category-leaf{
        right: 40px;
        bottom: 30px;
        width: 60px;
    }
}
@media(max-width: 460px){
    .pest{
        width: 60%;
    }
    .card{
        width: 100%;
    }
    .decor {
        position: absolute;
        top: 0;
        right: 0;
        width: 70px;
    }
    .green-leaf {
        left: 0;
    }
    .category-decor {
        bottom: 20px;
    }
}
@media(max-width: 360px){
     .card-title{
        font-size: 20px;
    }
    .card:hover .card-title{
        font-size: 22px;
    } 
    .pest {
        width: 80%;
    }
    .card-title-substances{
        line-height: 22px;
    }
}
